<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @await Html.PartialAsync(partialViewName: "_LayoutCssPartial")
    @await Html.PartialAsync(partialViewName: "_LayoutJsPartial")
</head>
<body>
    @await Component.InvokeAsync("TopNavBar")
    <div class="container">
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>