@{
    Layout = "_AccountLayout";
}
<html lang="tr">
    <head></head>
<body>
    <div class="container-sm" style="width:58%;">
    <div class="row">
            <img class=" img-fluid border-0" src="~/img/vectorImages/3567818.jpg" />
            <br />
            <br />
                <h5 class=" text-danger text-center mt-4 lead" >
                Yetkisiz erişim tespit edildi
                <i class="fas fa-arrow-left"></i>
            </h5>

        </div>
    </div>
    </body>
</html>

